<%= render 'errors' %>

<h2>Edit user:</h2>

<%= form_with url: user_path, model: @user, method: :patch do |form| %>
	<ul>
		<li>
			<%= form.label :username, 'Username:' %>
			<%= form.text_field :username %>
		</li>
		<li>
			<%= form.label :email, 'Email:' %>
			<%= form.email_field :email %>
		</li>
		<li>
			<%= form.label :password, 'Password:' %>
			<%= form.password_field :password %>
		</li>
		<%= form.submit %>
	</ul>
<% end %>

