<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<%= render 'errors' %>

<%= form_with model: @user do |form| %>
	<ul>
		<li>
			<%= form.label :username, 'Username:' %>
			<%= form.text_field :username, value: 'default text here', placeholder: 'placeholder-text' %>
		</li>
		<li>
			<%= form.label :email, 'Email:' %>
			<%= form.email_field :email, value: 'joe@example.com', placeholder: 'joe@example.com' %>
		</li>
		<li>
			<%= form.label :password, 'Password:' %>
			<%= form.password_field :password %>
		</li>
		<li>
			<%= form.submit %>
		</li>
	</ul>
<% end %>


<%
=begin %>

	<%# Using Rails *_tag helpers to build form %>

	<%# This helper is only slightly useful %>

	<%= form_tag('/users', method: :post) do %>
		<ul>
			<div>
				<%= label_tag 'Username:' %>
				<%= text_field_tag 'username' %>
			</div>
			<div>
				<%= label_tag 'Email:' %>
				<%= text_field_tag 'email' %>
			</div>
			<div>
				<%= label_tag 'Password:' %>
				<%= text_field_tag 'password' %>
			</div>
			<div><%= submit_tag 'Create User' %></div>
		</ul>
	
<% end %>

<%
=end %>

<%
=begin %>

	<%# Old-fashioned HTML form %>

	<form action='/users' accept-charset="utf-8" method='post'>
		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		<ul>
			<li>
				<label for='user'>Username:</label>
				<input type='text' id='user' name='user[username]'>
			</li>
			<li>
				<label for='user'>Email:</label>
				<input type='email' id='user' name='user[email]'>
			</li>
			<li>
				<label for='user'>Password:</label>
				<input type='password' id='user' name='user[password]'>
			</li>
			<li><button type='submit'>Submit</button></li>
		</ul>
	</form>

<%
=end %>

